* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

body {
  width: 300px;
  border-radius: 15px;
  background: linear-gradient(225deg, #cbc4c4, #f1e9e9);
  box-shadow: 7px -7px 13px #898585, -7px 7px 13px #ffffff;
  margin: 0 auto;
  padding: 7px;
}

.count {
  font-size: 0.7rem;
  font-weight: 300;
}

.count input {
  background-color: transparent;
  border: 0;
  font-size: 0.68rem;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  filter: blur(0.6px);
  filter: opacity(0.6);
}

.logo:hover {
  filter: blur(0.1px);
  filter: opacity(0.9);
  filter: hue-rotate(60deg);
  transform: rotate(-360deg) translateY(-5px);
  transition: 0.6s ease-in-out;
}

main {
  padding: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
}

.list-area {
  margin-top: 10px;
}

.title {
  font-size: 0.8rem;
  font-weight: 400;
}

.list-box {
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
}

.priority {
  background-color: rgba(234, 61, 61, 0.69);
}

.important {
  background-color: rgba(223, 154, 36, 0.596);
}

.normal {
  background-color: rgba(50, 223, 47, 0.596);
}

.completed {
  background-color: rgba(62, 78, 62, 0.596);
}

.empty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.bin {
  cursor: pointer;
}

.bin:hover {
  animation: shake 0.4s linear both;
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks-delete {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.info {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 0.8rem;
  color: #898585;
}
